/* Styles go here */

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.modal {
    background-color: rgba(64, 128, 192, 0.35);
}

.alert {
    margin-top: 10px;
    white-space: nowrap;
}

.alert-container {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.form-signin {
    max-width: 360px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .thumbnail {
    margin-bottom: 10px;
}

.modal-body .btn-group {
    margin-bottom: 10px;
}

.slide-frame {
    position: relative;
    height: 21em;
    overflow: auto;
}

.slide-frame > div {
    height: 100%;
    width: 100%;
}

input[type=text],
select {
    /* width: 50% !important; */
    color: rgba(255, 255, 255, 0.6)
}


/* alert animations */

.alert.ng-enter,
.alert.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.alert.ng-enter {
    opacity: 0;
    max-width: 0;
    max-height: 0;
    padding: 0;
    border-width: 0;
    margin: 0;
}

.alert.ng-enter-active {
    opacity: 1;
    max-width: 100%;
    max-height: 100px;
    padding: 15px 35px 15px 15px;
    border-width: 1px;
    margin: 10px 0 20px;
}

.alert.ng-leave {
    opacity: 1;
    max-width: 100%;
    max-height: 100px;
    padding: 15px 35px 15px 15px;
    border-width: 1px;
    margin: 10px 0 20px;
}

.alert.ng-leave-active {
    opacity: 0;
    max-width: 0;
    max-height: 0;
    padding: 0;
    border-width: 0;
    margin: 0;
}


/* modal and step animations */


/* TODO: Add left-to-right and right-to-left animations... not just one way */

.wave.ng-enter,
.wave.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.wave.ng-enter {
    position: absolute;
    left: 100%;
}

.wave.ng-enter-active {
    left: 0;
}

.wave.ng-leave {
    position: absolute;
    left: 0;
}

.wave.ng-leave-active {
    left: -100%;
}

.angular-google-map-container {
    height: 400px;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;
    background-color: white;
    /* no worky */
}

.pac-container {
    z-index: 100051 !important;
}

#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

.tag-item {
    font-size: .85em !important;
}

.btn.lazy {
    background-color: #F5F5F5;
    color: #333333;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    text-decoration: none;
    background-position: 0;
    transition: none;
    cursor: default;
    border-color: #CCC;
}

.mini-modal {
    top: 50%;
    padding: 1em;
    margin: auto;
}

.label-as-badge {
    border-radius: 1em;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 80%;
    height: 10em;
    text-align: center;
    vertical-align: middle;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.dragover {
    border: 5px dashed blue;
}

.center-modal .modal-dialog {
    top: 35%;
}

.drop-box {
    width: 12em;
    height: 5em;
    padding: .5em;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a[ng-click] {
    cursor: pointer;
}

.tooltip.top .tooltip-inner {
    max-width: 250px !important;
    background-image: linear-gradient(to bottom, #F0AD4E 0px, #EB9316 100%);
    background-repeat: repeat-x;
    border-color: #E38D13;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
    color: #FFF;
    background-color: #F0AD4E;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #EB9316;
}


/* =Template
-------------------------------------------------------------- */

#wrapper {
    width: 100%;
    margin: 0 auto;
}

#main {
    background-color: #fff;
    padding-top: 150px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 30px;
}

section {
    padding: 60px 0;
}

section h1 {
    font-weight: 700;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 30px;
}

section p:last-child {
    margin-bottom: 0;
}

section.color {
    background-color: #3cb5f9;
    color: white;
}


/* =Info Bar
-------------------------------------------------------------- */

#info-bar {
    background-color: #3cb5f9;
}

#info-bar a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 10px;
}

#info-bar a:hover {
    background-color: #0793e2;
}

#info-bar span.all-tutorials,
#info-bar span.back-to-tutorial {
    display: block;
    width: 50%;
}

#info-bar span.all-tutorials {
    float: left;
    text-align: left;
}

#info-bar span.back-to-tutorial {
    float: right;
    text-align: right;
}


/* =Header
-------------------------------------------------------------- */

header {
    width: 100%;
    height: 75px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 3px 5px #666666;
    -webkit-box-shadow: 2px 3px 5px #666666;
    -moz-box-shadow: 2px 3px 5px #666666;
    background: #8B8B8B;
    background: linear-gradient(top, #474747, #000000);
    background: -ms-linear-gradient(top, #474747, #000000);
    background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#000000));
    background: -moz-linear-gradient(top, #474747, #000000);
    border: solid 1px #000000;
    margin-right: auto;
    margin-left: auto;
    /*
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
*/
    -webkit-transition: height 0.6s;
    -moz-transition: height 0.6s;
    -ms-transition: height 0.6s;
    -o-transition: height 0.6s;
    transition: height 0.6s;
    z-index: 500;
}

sub-header {
    width: 100%;
    height: 25px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    box-shadow: 2px 3px 5px #666666;
    -webkit-box-shadow: 2px 3px 5px #666666;
    -moz-box-shadow: 2px 3px 5px #666666;
    /*    background: #474747;*/
    /*    background: linear-gradient(top, #474747, #000000);*/
    /*    background: -ms-linear-gradient(top, #474747, #000000);*/
    /*    background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#000000));*/
    /*    background: -moz-linear-gradient(top, #474747, #000000);*/
    border: solid 1px #000000;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
}

sub-header.smaller {
    /*    display: none;*/
    /*    top: 0px;*/
    /*    position: absolute;*/
    /*    visibility: hidden;*/
}

header.smaller {
    height: 50px;
    /*    box-shadow: unset;*/
    /*
    background: #8B8B8B;
    background: linear-gradient(top, #474747, #000000);
    background: -ms-linear-gradient(top, #474747, #000000);
    background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#000000));
    background: -moz-linear-gradient(top, #474747, #000000);
*/
}

header.smaller nav h1 {
    font-size: medium;
}

header.smaller nav a {
    /*    line-height: 50px;*/
}

header .navbar-brand > img {
    display: block;
    max-height: 75px;
    width: auto;
    height: auto;
}

header.smaller .navbar-brand > img {
    display: block;
    max-height: 50px;
    width: auto;
    height: auto;
}


/* =Media Queries
-------------------------------------------------------------- */

@media all and (max-width: 660px) {
    /* =Header
  -------------------------------------------------------------- */
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    header.smaller {
        height: 75px;
    }
    header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    header.smaller nav {
        height: 35px;
    }
    header.smaller nav a {
        line-height: 35px;
    }
}

@media all and (max-width: 600px) {
    .container {
        width: 100%;
    }
    #info-bar a {
        display: block;
    }
    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        width: 100%;
    }
    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        float: none;
        text-align: center;
    }
    #info-bar span.all-tutorials {
        border-bottom: solid 1px #0793e2;
    }
}

.red {
    background-color: #f44336 !important;
}

.green {
    background-color: #4caf50 !important;
}

.blue {
    background-color: #2196f3 !important;
}

.yellow {
    background-color: #ffeb3b !important;
}

.yellow.darken-1 {
    background-color: #fdd835 !important;
}

.md-fab {
    line-height: 50% !important;
}

.btn-secondary {
    font-size: 12px;
    line-height: unset;
    color: lightgray;
}

.btn-black,
.btn-orange,
.btn-blue {
    color: white;
    font-size: larger;
    text-transform: uppercase;
}

.btn-black:hover {
    border-bottom: 3px solid #f44336;
}

.btn-orange:hover {
    border-bottom: 3px solid white;
}

.btn-blue:hover {
    border-bottom: 3px solid #3f51b5;
}

.slogan {
    float: left;
    position: absolute;
    left: 210px;
    top: 45px;
    color: gray;
}

.slogan.smaller {
    display: none;
    color: red;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.show:hover {
    fill: #3f51b5 !important;
    cursor: pointer;
}

.highlight {
    color: #f44336;
}

.side-nav {
    height: 100%;
    /*    left: -340px;*/
    overflow: hidden;
    position: fixed;
    top: 0;
    /*    transition: left 0.4s cubic-bezier(0.17, 0.67, 0.59, 1.21) 0s;*/
    /*    width: 340px;*/
    z-index: 5000001;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    position: relative;
}

.side-nav li {
    list-style-type: none;
    position: relative;
}

.side-nav li a {
    cursor: pointer;
    display: block;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    padding: 0 56px 0 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 0.2s ease-in-out 0s;
    white-space: nowrap;
    color: white;
    border-left: 3px solid #424242;
    font-size: larger;
    text-transform: uppercase;
}

.side-nav li a:hover {
    background-color: #1b1b1b;
    color: white;
    border-left: 3px solid #3f51b5;
}

.close_button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.close_button:hover {
    fill: #3f51b5 !important;
}

.gray-bg {
    background: #424242 !important;
    position: fixed;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    background-color: #2e2e2e;
    color: rgba(255, 255, 255, 0.6);
}

md-input-container.md-input-focused:not(.md-input-invalid) label {
    color: rgba(255, 255, 255, 0.6) !important;
}

.dim {
    color: rgba(255, 255, 255, 0.6);
}

md-input-container > md-icon ng-md-icon {
    right: 0 !important;
}

.side-nav .join {
    border: none;
    background: #f44336;
}

.side-nav .join:hover {
    background: #f44336;
    border: none;
}

.round-input {
    border-radius: 16px;
    width: 100%;
    height: 34px;
    font-size: 14px;
    color: #555 !important;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-family: inherit;
    font-size: inherit;
    line-height: normal;
    margin: 0px;
    padding: 0px 12px;
    font-size: 100%;
    z-index: 500;
}


/*
.round-inuput::-moz-placeholder {
    color: #999;
    opacity: 1;
}*/

.fixed-top {
    left: 290px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: fixed;
    top: 7px;
    transition: height 0.3s ease 0s;
    width: 50%;
}